@{
    ViewBag.Title = "_Layout";
}

<!-- footer begin -->
<footer>
    <div class="container">
        <div class="row g-4 align-items-center">
            <div class="col-lg-4 sm-text-center">
                <h3>Our Location</h3>
                21/8 Park Street, Kolkata 8007 India<br>
                +91 7003493***<br>
                contact@croissocafe.com<br>
            </div>
            <div class="col-lg-4 text-center">
                <img class="logo" src="~/Content/New photos/CroissoCafe logo with name png1.png" alt="">
            </div>
            <div class="col-lg-4 text-lg-end text-center">
                <div class="social-icons">
                    <a href="https://www.facebook.com/abuhuraira.jamal.3?mibextid=ZbWKwL" target="_blank"><i class="fa fa-facebook fa-lg"></i></a>
                    <a href="https://x.com/Abuhurairajamal?t=uM1b1RYNzr9VnghbLD30Mw&s=09" target="_blank"><i class="fa fa-twitter"></i></a>
                    <a href="https://www.instagram.com/oobhaimaroo_2003?igsh=aGZoazltbmxzZTJx" target="_blank"><i class="fa fa-instagram"></i></a>

                    @*<a href="#"><i class="fa fa-rss fa-lg"></i></a>*@
                    @*<a href="#"><i class="fa fa-google-plus fa-lg"></i></a>*@
                    @*<a href="#"><i class="fa fa-skype fa-lg"></i></a>*@
                    @*<a href="#"><i class="fa fa-dribbble fa-lg"></i></a>*@
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- footer close -->