@{
    ViewBag.Title = "Blog";
}

<!-- subheader -->
<section id="subheader" class="jarallax text-light">
    <img src="~/Content/03_images/background/bg-6.jpg" class="jarallax-img" alt="">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="text-center wow fadeInUp">
                    <h5 class="uptitle">Latest</h5>
                    <h2>Blog</h2>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="@Url.Action("Home", "Home")">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Blog</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- subheader close -->
<!-- content begin -->
<div id="content" class="no-bottom no-top">
    <section id="section-book-form">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 blog-list">

                    <div class="blog-item row align-items-center g-3 gx-5">
                        <div class="col-md-5">
                            <div class="post-content">
                                <div class="date-box">
                                    <div class="day">28</div>
                                    <div class="month">MAY</div>
                                </div>

                                <div class="post-text">
                                    <h3><a href="03_luxury-blog-single.html">10 Reasons To Drink Coffee Every Day</a></h3>
                                    <p>
                                        Coffee isn't just a delicious beverage; it's packed with health benefits. Regular consumption can boost energy levels, enhance brain function, and improve mood. Rich in antioxidants, coffee may lower the risk of certain diseases, support metabolism, and even promote longevity. Enjoying a daily cup can truly enrich your life!</p>
                                        <a href="@Url.Action("Blog1", "Home")" class="btn-line">Read More</a>
</div>


                            </div>
                        </div>

                        <div class="col-md-7">
                            <img src="~/Content/03_images/blog/pic-blog-1.jpg" class="img-fluid" alt="">
                        </div>
                    </div>

                    @*<div class="blog-item row align-items-center g-3 gx-5">
                        <div class="col-md-7">
                            <img src="~/Content/03_images/blog/pic-blog-2.jpg" class="img-fluid" alt="">
                        </div>

                        <div class="col-md-5">
                            <div class="post-content">
                                <div class="date-box">
                                    <div class="day">26</div>
                                    <div class="month">MAY</div>
                                </div>

                                <div class="post-text">
                                    <h3><a href="03_luxury-blog-single.html">The Art of Brewing the Perfect Cup of Coffee</a></h3>
                                    <p>Brewing the perfect cup of coffee is an art that combines quality beans, precise measurements, and the right brewing method. From selecting the right grind size to mastering water temperature, every detail matters. Discover tips and techniques to elevate your coffee experience, ensuring each sip is flavorful and satisfying.</p>
                                    <a href="03_luxury-blog-single.html" class="btn-line">Read More</a>
                                </div>


                            </div>
                        </div>


                    </div>*@

                    @*<div class="blog-item row align-items-center g-3 gx-5">
                        <div class="col-md-5">
                            <div class="post-content">
                                <div class="date-box">
                                    <div class="day">24</div>
                                    <div class="month">MAY</div>
                                </div>

                                <div class="post-text">
                                    <h3><a href="03_luxury-blog-single.html">Exploring Different Coffee Beans and Their Flavors</a></h3>
                                    <p>Coffee beans come in various types, each offering unique flavors and aromas. Arabica, Robusta, and Liberica beans differ in taste, acidity, and body. Understanding these variations allows coffee lovers to choose blends that suit their palate. Join us as we delve into the world of coffee beans and their delightful profiles.</p>
                                    <a href="03_luxury-blog-single.html" class="btn-line">Read More</a>
                                </div>


                            </div>
                        </div>

                        <div class="col-md-7">
                            <img src="~/Content/03_images/blog/pic-blog-3.jpg" class="img-fluid" alt="">
                        </div>
                    </div>*@

                    @*<div class="blog-item row align-items-center g-3 gx-5">
                        <div class="col-md-7">
                            <img src="~/Content/03_images/blog/pic-blog-4.jpg" class="img-fluid" alt="">
                        </div>

                        <div class="col-md-5">
                            <div class="post-content">
                                <div class="date-box">
                                    <div class="day">22</div>
                                    <div class="month">MAY</div>
                                </div>

                                <div class="post-text">
                                    <h3><a href="03_luxury-blog-single.html">The Health Benefits of Tea: Why You Should Make the Switch</a></h3>
                                    <p>Tea is not just a soothing beverage; it’s also a powerhouse of health benefits. Rich in antioxidants, tea can boost immunity, enhance mental clarity, and support heart health. From green to herbal varieties, each type offers unique advantages. Explore the reasons to incorporate tea into your daily routine for better well-being.</p>
                                    <a href="03_luxury-blog-single.html" class="btn-line">Read More</a>
                                </div>


                            </div>
                        </div>


                    </div>*@



                </div>
            </div>
        </div>
    </section>



</div>
