@{
    ViewBag.Title = "Blog1";
}

<!-- subheader -->
<section id="subheader" class="jarallax text-light">
    <img src="~/Content/03_images/background/bg-6.jpg" class="jarallax-img" alt="">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="text-center wow fadeInUp">
                    <h5 class="uptitle">Blog</h5>
                    <h2>10 Reasons To Drink Coffee Every Day</h2>
                </div>
            </div>
        </div>
        <div class="col-lg-12">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="@Url.Action("Home", "Home")">Home</a></li>
                <li class="breadcrumb-item"><a href="@Url.Action("Blog", "Home")">Blog</a></li>
                <li class="breadcrumb-item active" aria-current="page">10 Reasons To Drink Coffee Every Day</li>
            </ol>
        </div>
    </div>
</section>
<!-- subheader close -->
<!-- content begin -->
<div id="content" class="no-bottom no-top">
    <section id="section-book-form">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 offset-lg-2">
                    <div class="de-post-read">
                        <div class="post-content">

                            <div class="post-text">
                                <div class="row g-4 zoom-gallery mb-4">
                                    <div class="col-lg-6">
                                        <figure class="hover-zoom position-relative overflow-hidden">
                                            <a href="~/Content/images/gallery/1.jpg">
                                                <span class="d-hover">
                                                    <span class="d-text">
                                                        <span class="d-cap">View</span>
                                                    </span>
                                                </span>
                                                <img src="~/Content/03_images/gallery/1.jpg" alt="">
                                            </a>
                                        </figure>
                                    </div>

                                    <div class="col-lg-6">
                                        <figure class="hover-zoom position-relative overflow-hidden">
                                            <a href="~/Content/images/gallery/3.jpg">
                                                <span class="d-hover">
                                                    <span class="d-text">
                                                        <span class="d-cap">View</span>
                                                    </span>
                                                </span>
                                                <img src="~/Content/03_images/gallery/3.jpg" alt="">
                                            </a>
                                        </figure>
                                    </div>
                                </div>
                                <p>
                                    Drinking coffee daily can significantly enhance your life, providing various physical and mental
                                    health benefits. First and foremost, it boosts energy levels, helping you stay alert and focused throughout the 
                                    day. The caffeine in coffee stimulates the central nervous system, improving brain function, memory, and mood.
                                    Additionally, coffee is rich in antioxidants, which can help combat oxidative stress and reduce the risk of chronic
                                    diseases. Regular consumption may also lower the chances of developing certain conditions, such as type 2 diabetes and 
                                    Parkinson's disease. Furthermore, coffee can enhance physical performance by increasing adrenaline levels, making it a
                                    favorite among athletes. It can also support liver health and may contribute to a longer lifespan. With its rich flavor
                                    and diverse brewing methods, coffee is not only a delightful treat but also a daily ritual that can lead to improved overall 
                                    health and well-being.
                                </p>

                                <div class="row g-4 zoom-gallery mb-4">
                                    <div class="col-lg-6">
                                        <figure class="hover-zoom position-relative overflow-hidden">
                                            <a href="~/Content/03_images/misc/6.jpg">
                                                <span class="d-hover">
                                                    <span class="d-text">
                                                        <span class="d-cap">View</span>
                                                    </span>
                                                </span>
                                                <img src="~/Content/03_images/misc/6.jpg" alt="">
                                            </a>
                                        </figure>
                                    </div>

                                    <div class="col-lg-6">
                                        <blockquote class="p-5 border-color-1 h-100">
                                            As a busy professional, I rely on my morning coffee to kickstart my day. The rich, 
                                            smooth taste and heavenly aroma never fail to perk me up and get me ready to tackle whatever 
                                            the day throws at me. It's like a little slice of heaven in a cup!<span>Abu Huraira Jamal</span>
                                        </blockquote>
                                    </div>
                                </div>

                                <p>
                                    •Boosts energy levels and enhances alertness.<br>
                                    •Improves brain function and memory.<br>
                                    •Rich in antioxidants, fighting oxidative stress.<br>
                                    •Lowers the risk of type 2 diabetes.<br>
                                    •May reduce the likelihood of Parkinson's disease.<br>
                                    •Enhances physical performance and stamina.<br>
                                    •Supports liver health and function.<br>
                                    •Promotes better mood and mental clarity.<br>
                                    •May contribute to a longer lifespan.<br>
                                    •Offers a variety of flavors and brewing methods to enjoy.<br>
                                </p>
                            </div>
                        </div>
                        <br />
                        <br />
                        <div class="post-meta"><span><i class="fa fa-user id-color"></i>By: <a href="#">SM Saad</a></span> <span><i class="fa fa-tag id-color"></i><a href="#">Events</a></span> </div>

                        <div class="spacer-single"></div>

                        <!--<div id="blog-comment">
                            <h3>Comments (3)</h3>

                            <div class="spacer-half"></div>

                            <ol>
                                <li>
                                    <div class="avatar">
                                        <img src="~/Content/03_images/ui/avatar.png" alt="" />
                                    </div>
                                    <div class="comment-info">
                                        <span class="c_name">Shabana Jamal</span>
                                        <span class="c_date">10 January 2024</span>
                                        <span class="c_reply"><a href="#">Reply</a></span>
                                        <div class="clearfix"></div>
                                    </div>

                                    <div class="comment">I’ve always loved my morning coffee, but I didn’t realize it had so many health benefits! I’m definitely going to make sure I have a cup every day now. Thanks for sharing these insights!</div>
                                    <ol>
                                        <li>
                                            <div class="avatar">
                                                <img src="~/Content/03_images/ui/avatar.png" alt="" />
                                            </div>
                                            <div class="comment-info">
                                                <span class="c_name">Zainab Jamal</span>
                                                <span class="c_date">15 July 2024</span>
                                                <span class="c_reply"><a href="#">Reply</a></span>
                                                <div class="clearfix"></div>
                                            </div>
                                            <div class="comment">Great article! I’ve noticed that drinking coffee really helps me stay focused during work. I didn’t know it could lower the risk of diseases too. I’ll be sharing this with my friends!</div>
                                        </li>
                                    </ol>
                                </li>

                                <li>
                                    <div class="avatar">
                                        <img src="~/Content/03_images/ui/avatar.png" alt="" />
                                    </div>
                                    <div class="comment-info">
                                        <span class="c_name">Barirah Saad</span>
                                        <span class="c_date">8 August 2024</span>
                                        <span class="c_reply"><a href="#">Reply</a></span>
                                        <div class="clearfix"></div>
                                    </div>
                                    <div class="comment">I appreciate this blog! As someone who enjoys experimenting with different coffee flavors, it’s nice to know I’m doing something good for my health. Looking forward to trying new brewing methods mentioned!</div>
                                    <ol>-->
                                        @*<li>
                                            <div class="avatar">
                                                <img src="~/Content/03_images/ui/avatar.png" alt="" />
                                            </div>
                                            <div class="comment-info">
                                                <span class="c_name">John Smith</span>
                                                <span class="c_date">8 August 2018</span>
                                                <span class="c_reply"><a href="#">Reply</a></span>
                                                <div class="clearfix"></div>
                                            </div>
                                            <div class="comment">Sed ut perspiciatis unde omnis iste natus error sit voluptatem   accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt   explicabo.</div>
                                        </li>*@
                                    <!--</ol>
                                </li>-->

                                @*<li>
                                    <div class="avatar">
                                        <img src="~/Content/03_images/ui/avatar.png" alt="" />
                                    </div>
                                    <div class="comment-info">
                                        <span class="c_name">John Smith</span>
                                        <span class="c_date">8 August 2018</span>
                                        <span class="c_reply"><a href="#">Reply</a></span>

                                        <div class="clearfix"></div>
                                    </div>
                                    <div class="comment">Sed ut perspiciatis unde omnis iste natus error sit voluptatem   accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt   explicabo.</div>
                                </li>*@
                            <!--</ol>

                            <div class="spacer-single"></div>

                            <div id="comment-form-wrapper">
                                <h4>Leave a Comment</h4>
                                <div class="comment_form_holder">
                                    <form id="contact_form" name="form1" method="post" action="#">

                                        <label>Name</label>
                                        <input type="text" name="name" id="name" class="form-control" />

                                        <label>Email <span class="req">*</span></label>
                                        <input type="text" name="email" id="email" class="form-control" />
                                        <div id="error_email" class="error">Please check your email</div>

                                        <label>Message <span class="req">*</span></label>
                                        <textarea cols="10" rows="10" name="message" id="message" class="form-control"></textarea>
                                        <div id="error_message" class="error">Please check your message</div>
                                        <div id="mail_success" class="success">Thank you. Your message has been sent.</div>
                                        <div id="mail_failed" class="error">Error, email not sent</div>

                                        <p id="btnsubmit">
                                            <input type="submit" id="send" value="Send" class="btn-custom" />
                                        </p>
                                    </form>
                                </div>
                            </div>
                        </div>-->
                    </div>
                </div>
            </div>
        </div>
    </section>



</div>

