@{
    ViewBag.Title = "Gallery";
}

<!-- subheader -->
<section id="subheader" class="jarallax text-light">
    <img src="~/Content/03_images/background/bg-5.jpg" class="jarallax-img" alt="">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="text-center wow fadeInUp">
                    <h5 class="uptitle">Discover</h5>
                    <h2>Gallery</h2>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="@Url.Action("Home", "Home")">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Gallery</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- subheader close -->
<!-- content begin -->
<div id="content" class="no-bottom no-top">
    <section aria-label="section">
        <div class="container">
            <div id="gallery" class="row g-4 zoom-gallery">

                <div class="col-lg-4 item">
                    <figure class="hover-zoom position-relative overflow-hidden">
                        <a href="~/Content/images/gallery/1.jpg">
                            <span class="d-hover">
                                <span class="d-text">
                                    <span class="d-cap">View</span>
                                </span>
                            </span>
                            <img src="~/Content/03_images/gallery/1.jpg" alt="">
                        </a>
                    </figure>
                </div>

                <div class="col-lg-4 item">
                    <figure class="hover-zoom position-relative overflow-hidden">
                        <a href="~/Content/images/gallery/2.jpg">
                            <span class="d-hover">
                                <span class="d-text">
                                    <span class="d-cap">View</span>
                                </span>
                            </span>
                            <img src="~/Content/03_images/gallery/2.jpg" alt="">
                        </a>
                    </figure>
                </div>

                <div class="col-lg-4 item">
                    <figure class="hover-zoom position-relative overflow-hidden">
                        <a href="~/Content/images/gallery/3.jpg">
                            <span class="d-hover">
                                <span class="d-text">
                                    <span class="d-cap">View</span>
                                </span>
                            </span>
                            <img src="~/Content/03_images/gallery/3.jpg" alt="">
                        </a>
                    </figure>
                </div>

                <div class="col-lg-4 item">
                    <figure class="hover-zoom position-relative overflow-hidden">
                        <a href="~/Content/images/gallery/4.jpg">
                            <span class="d-hover">
                                <span class="d-text">
                                    <span class="d-cap">View</span>
                                </span>
                            </span>
                            <img src="~/Content/03_images/gallery/4.jpg" alt="">
                        </a>
                    </figure>
                </div>

                <div class="col-lg-4 item">
                    <figure class="hover-zoom position-relative overflow-hidden">
                        <a href="~/Content/images/gallery/5.jpg">
                            <span class="d-hover">
                                <span class="d-text">
                                    <span class="d-cap">View</span>
                                </span>
                            </span>
                            <img src="~/Content/03_images/gallery/5.jpg" alt="">
                        </a>
                    </figure>
                </div>

                <div class="col-lg-4 item">
                    <figure class="hover-zoom position-relative overflow-hidden">
                        <a href="~/Content/images/gallery/6.jpg">
                            <span class="d-hover">
                                <span class="d-text">
                                    <span class="d-cap">View</span>
                                </span>
                            </span>
                            <img src="~/Content/03_images/gallery/6.jpg" alt="">
                        </a>
                    </figure>
                </div>

            </div>

        </div>

    </section>
</div>
